.cont-confirm {
  width: 300px;
  min-height: 100px;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 12px;
}

.cont-confirm > p {
  line-height: 24px;
}

.cont-confirm .confirm-btns {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 20px;
}
